.inputTextBoxButton {
  list-style-image: url("chrome://foxreplace/skin/inputtextbox-icons.png");
  -moz-user-focus: ignore;
}

.inputTextBoxButtonMenuItem {
  list-style-image: url("chrome://foxreplace/skin/inputtextbox-icons.png");
}

.inputTextBoxButton[inputtype="0"], .inputTextBoxButtonMenuItem[anonid="itemText"] {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.inputTextBoxButton[inputtype="1"], .inputTextBoxButtonMenuItem[anonid="itemWholeWords"] {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.inputTextBoxButton[inputtype="2"], .inputTextBoxButtonMenuItem[anonid="itemRegExp"] {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.inputTextBoxHBox {
  -moz-appearance: textfield;
}

.inputTextBox {
  -moz-appearance: none;
  border: none;
  color: black !important;
  margin: 0;
}

.inputTextBox[empty="true"] {
  color: gray !important;
}

.inputTextBox[inputtype="0"] {
  background-color: white !important;
}

.inputTextBox[inputtype="1"] {
  background-color: lime !important;
}

.inputTextBox[inputtype="2"] {
  background-color: yellow !important;
}
