/* override Noia fixed width/height */
#foxreplacePreferences {
  height: auto !important;
  width: auto !important;
  max-width: 1024px;
}

.paneDeckContainer, .content-box {
  overflow: visible;  /* to avoid that some checkboxes get hidden */
}

#substitutionListBox .exclusionUrl {
  color: red;
}
