/* override Noia fixed width/height */
#foxreplacePreferences {
  height: auto !important;
  width: auto !important;
  max-width: 1024px;
}

#substitutionListTreeChildren::-moz-tree-cell-text(exclusionUrl) {
  color: red;
}

/* css for checked cells */
treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}
