/* override Noia fixed width/height */
#foxreplacePreferences {
  height: auto !important;
  width: auto !important;
  max-width: 800px;
}

#mainPane > vbox {
  overflow: visible;  /* perquè no quedin amagats els checkboxs de baix */
}

textbox {
  width: 20em;
}

#inputStringTextBox {
  -moz-binding: url("chrome://foxreplace/content/bindings.xml#inputTextBox");
}
/*
listitem.substitutionGroup {
  -moz-binding: url("chrome://foxreplace/content/bindings.xml#substitutionGroupListItem");
}
*/
