#substitutionListTreeChildren::-moz-tree-cell-text(exclusionUrl) {
  color: red;
}

/* css for checked cells */
treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

#translucentBackground {
  opacity: 0.9;
}
