#foxreplaceDialogSubstitutionGroupEditor {
  max-width: 1024px;
}

#htmlButton {
  -moz-binding: url("chrome://foxreplace/content/bindings.xml#htmlButton");
}

#urlsListBox .exclusionUrl {
  color: red;
}

#inputStringTextBox {
  -moz-binding: url("chrome://foxreplace/content/bindings.xml#inputTextBox");
}
