/* rect(top, right, bottom, left) */
/*
@import url("chrome://global/skin/findBar.css");
amb això i posant que el botó de tancar sigui de la classe findbar-closebutton
es resol bastant el tema de l'aparença, però només per Firefox 3
*/

#fxrMenuEditReplace, #fxrMenuToolsFoxReplace, #fxrMenuContextFoxReplace {
  list-style-image: url("chrome://foxreplace/skin/foxreplace-icons.png");
  -moz-image-region: rect(0px, 40px, 16px, 24px);
}

#fxrToolbarButton {
  list-style-image: url("chrome://foxreplace/skin/foxreplace-icons.png");
  -moz-image-region: rect(0px, 24px, 24px, 0px);
}
#fxrToolbarButton:hover {
  -moz-image-region: rect(24px, 24px, 48px, 0px);
}
toolbar[iconsize="small"] #fxrToolbarButton {
  -moz-image-region: rect(0px, 40px, 16px, 24px);
}
toolbar[iconsize="small"] #fxrToolbarButton:hover {
  -moz-image-region: rect(16px, 40px, 32px, 24px);
}

#fxrReplaceBar {
  -moz-appearance: none !important;
  border-top: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight !important;
  border-bottom: 1px solid;
  -moz-border-bottom-colors: transparent;
  min-width: 1px;
}

#fxrReplaceBarCloseButton {
  border: 1px solid transparent;
  padding: 3px 2px 4px 2px !important;
  list-style-image: url("chrome://foxreplace/skin/closeSidebar.png");
  -moz-appearance: none;
  -moz-image-region: rect(0px, 14px, 14px, 0px);
}
#fxrReplaceBarCloseButton > .toolbarbutton-icon {
  -moz-margin-end: 0px !important;
  -moz-padding-end: 2px !important;
  -moz-padding-start: 2px !important;
}
#fxrReplaceBarCloseButton:hover {
  -moz-image-region: rect(0px, 28px, 14px, 14px);
}
#fxrReplaceBarCloseButton:hover:active {
  -moz-image-region: rect(0px, 42px, 14px, 28px);
}
#fxrReplaceBarInputStringTextBox, #fxrReplaceBarOutputStringTextBox {
  width: 20em;
}

#fxrReplaceBarInputStringTextBox {
  -moz-binding: url("chrome://foxreplace/content/bindings.xml#inputTextBox");
}

/*
#FindToolbar {
  -moz-appearance: none !important;
  border-top: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight !important;
  border-bottom: 1px solid;
  -moz-border-bottom-colors: transparent;  
}

/* find-next button * /

#find-next {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#find-next:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}

#find-next[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}

/* find-previous button * /

#find-previous {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

#find-previous:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}

#find-previous[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
}

/* highlight button * /

#highlight {
  list-style-image: url("chrome://global/skin/icons/find.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

#highlight:hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}

#highlight[disabled="true"] {
  -moz-image-region: rect(32px 48px 48px 32px) !important;
}

#highlight:active, #highlight[checked="true"] {
  -moz-image-region: rect(48px 48px 64px 32px);
}

#highlight[checked="true"]:hover {
  -moz-image-region: rect(64px 48px 80px 32px);
}

#find-status-icon
{
  list-style-image: none;
  margin-top: 2px;
  margin-bottom: 0px;
  -moz-margin-start: 12px;
  -moz-margin-end: 0px;
  width: 16px;
  height: 16px;
}

#find-status
{
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 3px;
  -moz-margin-end: 0px;
  padding: 2px;
}

#find-status-icon[status="notfound"]
{
  list-style-image: url("chrome://global/skin/icons/notfound.png");
}

#find-field
{
  -moz-appearance: none;
  border: none;
  margin: 0px;
}

#find-field[status="notfound"]
{
  background-color: #FF6666;
  color: #FFFFFF;
}

#FindToolbar[flash="true"]  > #find-field-container > #find-field
{
  background-color: yellow;
}

#find-status-icon[status="wrapped"]
{
  list-style-image: url("chrome://global/skin/icons/wrap.png");
}

#find-field-container
{
  -moz-appearance: textfield;
}

*/
